//- Project name
- var project_name       = "bolierplate"

//- Basic page variables
- var page_lang          = "en"
- var charset            = "utf-8"
- var page_description   = "Boilerplate - demo description"
- var page_author        = "Author"
- var page_title         = "Boilerplate - demo titile"

//- Body classes
- var body_classes       = ['css-animate dom-body']
- var preloader          = false
- var top_bar            = true
- var nav_bar            = true
- var nav_mobile         = false
- var nav_mobile_toggle  = false
- var footer             = true

//- Others
- var path_assets        = "/assets/"
- var path_css           = path_assets.concat('css/')
- var path_image         = path_assets.concat('images/')
- var path_js            = path_assets.concat('js/')
- var google_analitics   = false
- var cookies_policy 	 = true
