[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/kwielicki
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kwielicki
	label-Verified = -1..+1 group user/kwielicki
	push = group user/kwielicki
	read = group user/kwielicki
	rebase = group user/kwielicki
	removeReviewer = group user/kwielicki
	submit = group user/kwielicki
[access "refs/heads/*"]
	create = group user/kwielicki
	push = +force group user/kwielicki
	pushMerge = group user/kwielicki
	read = group user/kwielicki
[access "refs/tags/*"]
	push = group user/kwielicki
	push = +force group user/kwielicki
