.component.js-cookies-policy
	.cookies-policy
		.container
			.row
				.col-xs-12
					.cookies-policy__inner
						p #[strong Używamy plików cookies], aby ułatwić Ci korzystanie z mojego boilerplate oraz do celów statystycznych. Jeśli nie blokujesz tych plików, to zgadzasz się na ich użycie oraz zapisanie w pamięci urządzenia. Pamiętaj, że możesz samodzielnie zarządzać cookies, zmieniając ustawienia przeglądarki. Więcej informacji znajdziesz na stronie #[a(href="#" title="Dowiedź się więcej o Naszej polityce prywatności") polityka prywatności].
						.text-xs-right
							span(role="link", title="Zaakceptuj Naszą politykę prywatności").js-cookies-policy__close.btn.btn-danger Akceptuję
